- exclude_guests_from_active_count = License.current&.exclude_guests_from_active_count?

%p.gl-font-bold.gl-mt-7
  = s_('AdminArea|Breakdown of Billable users')

%table.gl-table.gl-text-subtle.gl-w-full
  = render_if_exists 'admin/dashboard/without_group_or_project_row', users_statistics: @users_statistics unless exclude_guests_from_active_count
  = render_if_exists 'admin/dashboard/minimal_access_stats_row', users_statistics: @users_statistics
  = render_if_exists 'admin/dashboard/elevated_role_stats_row', users_statistics: @users_statistics
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Users with highest role')
      %strong
        = s_('AdminArea|Reporter')
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.with_highest_role_reporter
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Users with highest role')
      %strong
        = s_('AdminArea|Developer')
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.with_highest_role_developer
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Users with highest role')
      %strong
        = s_('AdminArea|Maintainer')
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.with_highest_role_maintainer
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Users with highest role')
      %strong
        = s_('AdminArea|Owner')
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.with_highest_role_owner
  = render_if_exists 'admin/dashboard/billable_users_row'

%p.gl-font-bold.gl-mt-8
  = s_('AdminArea|Breakdown of Non-Billable users')
%table.gl-table.gl-text-subtle.gl-w-full
  = render_if_exists 'admin/dashboard/without_group_or_project_row', users_statistics: @users_statistics if exclude_guests_from_active_count
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Users with highest role')
      %strong
        = s_('AdminArea|Guest')
      = render_if_exists 'admin/dashboard/included_free_in_license_tooltip'
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.non_billable_guests
  %tr
    %td{ class: '!gl-p-5' }
      = s_('AdminArea|Bots')
    %td.gl-text-right{ class: '!gl-p-5' }
      = @users_statistics&.bots
  %tr.gl-bg-gray-10.gl-text-default
    %td{ class: '!gl-p-5' }
      %strong
        = s_('AdminArea|Total Non-Billable users')
    %td.gl-text-right{ class: '!gl-p-5' }
      %strong
        = @users_statistics&.non_billable
